In [1]:
import pandas as pd
import csv

In [2]:
csv = pd.read_csv('../top10cities_ca_tx.csv')

In [3]:
csv['Start_Time'] = pd.to_datetime(csv['Start_Time'])
csv['End_Time'] = pd.to_datetime(csv['End_Time'])
csv['Zipcode'] = csv['Zipcode'].str[:5]

In [4]:
list(csv)

['Unnamed: 0',
 'ID',
 'Source',
 'TMC',
 'Severity',
 'Start_Time',
 'End_Time',
 'Start_Lat',
 'Start_Lng',
 'End_Lat',
 'End_Lng',
 'Distance(mi)',
 'Description',
 'Number',
 'Street',
 'Side',
 'City',
 'County',
 'State',
 'Zipcode',
 'Country',
 'Airport_Code',
 'Weather_Timestamp',
 'Temperature(F)',
 'Wind_Chill(F)',
 'Humidity(%)',
 'Pressure(in)',
 'Visibility(mi)',
 'Wind_Direction',
 'Wind_Speed(mph)',
 'Precipitation(in)',
 'Weather_Condition',
 'Bump',
 'Crossing',
 'Give_Way',
 'Junction',
 'No_Exit',
 'Railway',
 'Roundabout',
 'Station',
 'Stop',
 'Traffic_Signal',
 'Turning_Loop',
 'Sunrise_Sunset']

In [6]:
small_df = csv[['Severity', 'Start_Time', 'Start_Lat', 'Start_Lng', 'City', 'State', 'Zipcode', 'Temperature(F)']]
small_df['time_hour'] = small_df['Start_Time'].dt.hour

C:\Users\kdola\Anaconda3\envs\pythondata\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [13]:
small_df.to_csv('klean_csv.csv')

In [14]:
klean_df = pd.read_csv('klean_csv.csv')
klean_df

,Unnamed: 0,Severity,Start_Time,Start_Lat,Start_Lng,City,State,Zipcode,Temperature(F),time_hour
0,0,2,2016-06-21 10:16:26,37.250729,-121.910713,San Jose,CA,95118,75.2,10
1,1,3,2016-06-21 10:17:17,37.328312,-121.871811,San Jose,CA,95112,73.0,10
2,2,2,2016-06-21 11:16:14,38.481682,-121.408768,Sacramento,CA,95828,86.0,11
3,3,3,2016-06-21 11:16:55,38.682713,-121.336288,Sacramento,CA,95841,86.0,11
4,4,2,2016-06-21 11:37:40,37.775215,-122.220863,Oakland,CA,94601,73.9,11
...,...,...,...,...,...,...,...,...,...,...
298389,298389,2,2017-08-30 16:20:25,34.029550,-118.403210,Los Angeles,CA,90034,82.0,16
298390,298390,2,2017-08-30 16:33:55,34.036850,-118.287120,Los Angeles,CA,90007,89.1,16
298391,298391,3,2017-08-30 19:48:10,34.123370,-118.341790,Los Angeles,CA,90068,91.9,19
298392,298392,2,2017-08-30 20:01:40,34.055160,-118.214070,Los Angeles,CA,90033,82.0,20
298393,298393,2,2017-08-30 20:01:40,34.046740,-118.214800,Los Angeles,CA,90033,82.0,20